GOOGLE_CLIENT_ID_ANDROID=xxx.apps.googleusercontent.com

GOOGLE_CLIENT_ID_IOS=xxx.apps.googleusercontent.com

GOOGLE_CLIENT_ID_WEB=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET_WEB=GOCSPX-xxx

GOOGLE_CLIENT_ID_DESKTOP=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET_DESKTOP=GOCSPX-xxx
